.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_6xWLeX3KvC_aLfg2YuxqIW7cFNQvD1C9w&usqp=CAU');
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-color: red;
  color:black;
}



.body{
  display: flex;
background-color: red;
  align-content: center;
  
}
 .myPlate{
   border:solid white;
   width:25%;
   
 }

 .kitchen{
  display: inline;
  flex-direction: row;
  flex-wrap: wrap;
  border:solid white;
  width:75%;
 }

 img{
  
   height:250px;
   width:200px;
   border: white inset 1px;
   box-shadow: black 10px;
 }

 .logo{
   margin-top: 10px;
   height:150px;
   width:150px;
  
   border-radius: 35%;
 }

 p{
   color: white;
   font-size: 20px;
 }

 h2{
   color: white;
   text-decoration: white underline;
 }

 button{
   background-color: red;
   color: white;
 }

 section{
   color:red;
   background-color:white;
   font-size: 30px;
 }